#wrapper {
  height: 100vh; 
  background-color: #ffbf80;
}
.container {
  height: 80vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 { 
  padding-bottom: 10px;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.burgers-container {
  display: flex; 
  flex-direction: row;
  align-content: space-between;
}
.devoured-button {
  padding: 5px; 
  border: 1px solid black; 
  background-color: #b5ff66;
  color: black; 
}
h2 {
  font-size: large; 
  font-weight: bold;
}
.devoured-burger {
  padding-left: 20px;
}
.save-burger{
  padding: 10px;
  border: 1px solid black; 
  background-color: #b5ff66;
  color: black; 
}
.button-container{
  display: flex; 
  justify-content: center;
}
.text-area {
  padding: 20px; 
  margin: 20px; 
}
.burger-image {
  width: 150px;
  padding: 20px; 
}
.devoured {
  border: 1px solid black; 
}